<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <meta charset="ISO-8859-1">
  <title>edit</title>
</head>
<body>
<h1>Edit Product</h1>
<form th:object="${brand}" th:action="@{saveeditbrand}" action="#" method="post">
  <input type="hidden" th:field="*{id}">
  <div>
    <label th:text="moTa" th:for="moTa"></label>
    <input type="text" th:field="*{moTa}" class="form-control"/>
  </div>
  <div style="clear: both; display: block; height: 10px"></div>
  <div>
    <label th:text="nguoiTao" th:for="nguoiTao"></label>
    <input type="text" th:field="*{nguoiTao}" class="form-control"/>
  </div>
  <div>
    <label th:text="ngayTao" th:for="ngayTao"></label>
    <input type="text" th:field="*{ngayTao}" class="form-control"/>
  </div>
  <div style="clear: both; display: block; height: 10px"></div>
  <div>
    <label th:text="name" th:for="name"></label>
    <input type="text" th:field="*{name}" class="form-control"/>
  </div>
  <div style="clear: both; display: block; height: 10px"></div>
  <input type="submit" class="btn btn-success" value="Save"/>
</form>
</body>
</html>
