<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <meta charset="ISO-8859-1">
  <title>Insert title here</title>
</head>
<body>
<h1>New Brand</h1>
<div class="col-md-auto">
  <form th:object="${brand}" th:action="@{save}" action="#" method="post">
    <div style="clear: both; display: block; height: 10px"></div>
    <div>
      <label th:text="name" th:for="name"></label>
      <input type="text" th:field="*{name}" class="form-control" placeholder="name"/>
    </div>
    <div style="clear: both; display: block; height: 10px"></div>
    <div>
      <label th:text="nguoiTao" th:for="nguoiTao"></label>
      <input type="text" th:field="*{nguoiTao}" class="form-control" placeholder="nguoiTao"/>
    </div>
    <div>
      <label th:text="moTa" th:for="moTa"></label>
      <input type="text" th:field="*{moTa}" class="form-control" placeholder="moTa"/>
    </div>
    <div style="clear: both; display: block; height: 10px"></div>
    <input type="submit" class="btn btn-success" value="Save"/>
  </form>
</div>
</body>
</html>
